/node_modules
/public/hot
/public/storage
/public/images/uploads/*
/public/images/icons/*
/storage/*.key
/vendor/*
!/vendor/zizaco/entrust/src/Entrust/Traits/EntrustUserTrait.php
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
public/images/uploads/
vendor/
*.jpg
*.png
*.gif
*.jpeg
*.png
*.ics
*.mp4
*.png
config/database.php
composer.lock
config/images.php
config/database.php
composer.lock
